<!doctype html>
<html lang="en" ng-app="todomvc" data-framework="firebase" ng-controller="TodoCtrl">
	<head>
		<meta charset="utf-8">
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
		<title ng-bind="'todo: '+'{{path}}'">todo: /</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body style="width:95%;">
		<section id="todoapp">
			<header id="header">
				<h1><small>todo</small> <input style="background-color:inherit;border:medium none;font:20px 'Helvetica Neue';font-weight:200;width:25%;" ng-model="path" ng-change="submitPath(path)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" ng-enter="submitPath(path)" ng-blur-on-enter="true"></input></h1>
				<form id="todo-form" ng-submit="addTodo()">
					<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
				</form>
			</header>
			<section id="main" ng-show="totalCount" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
							<label ng-click="toggleTodo(todo)" ng-dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
						<form ng-submit="doneEditing(todo)">
							<input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-show="totalCount" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.hash() == ''}" ng-click="location.hash('')" href="#{{location.path()}}#">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.hash() == 'active'}" ng-click="location.hash('active')" href="#{{location.path()}}#active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.hash() == 'completed'}" ng-click="location.hash('completed')" href="#{{location.path()}}#completed">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Forked from the <a href="http://todomvc.com">TodoMVC</a> project</p>
		</footer>
		<script src="node_modules/angular/angular.js"></script>
		<script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
		<script src="node_modules/angularfire/dist/angularfire.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoBlur.js"></script>
		<script src="js/directives/todoEscape.js"></script>
	</body>
</html>
